<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhóm 6 - Bán Quần Áo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
          <div class="container-sm p-3 justify-content-center gap-5">
            <div>
              <a href="#">
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/6pm/logos/6pm-Logo-1x._V285053994_.png">
              </a>
            </div>
            <div class="nav navbar-nav1">
              <a href="#" class="btn">
                <b style="color:#ae4343;"> Free shipping </b> <b>any 2+ items or $50+!</b>
                <u>See Details</u> </a>
            </div>
            <div>
              <a href="#"><i class="fa-solid fa-mobile"></i>Hotline</a>
              <a href="#"><u>0348929118</u> </a>
            </div>
            <div class="nav navbar-nav2">
              <div class="dropdown">
                <a href="" class="btn"><i class="fa-solid fa-user"></i></a>
    
                <ul class="dropdown-menu">
                  <li> <a href=""> <i class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập</a></li>
                  <li> <a href=""> <i class="fa-solid fa-arrow-right-from-bracket"></i></i>Đăng ký</a></li>
                </ul>
    
              </div>
              <a href="#" class="btn"><i class="fa-solid fa-circle-question"></i></a>
              <a href="#" class="btn"><i class="fa-solid fa-heart"></i></a>
              <a href="#" class="btn btn1"><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
          </div>
        </nav>
      </header>
    
      <div class="container-sm">
        <nav class="navbar navbar-brand justify-content-center  text-decoration-none">
          <div class="nav navbar-nav2">
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="./shoes.html">SHOES</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Men's</a></li>
                  <li><a href="#">Women's</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="./shoes.html">CLOTHING</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Men's</a></li>
                  <li><a href="#">Women's</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="./bags.html">BAGS</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Man's</a></li>
                  <li><a href="#">Women's</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="">ACCESSORIES</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Man's</a></li>
                  <li><a href="#">Women</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="./women's.html">WOMEN'S</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Shoes</a></li>
                  <li><a href="#">HandBags</a></li>
                </ul>
              </div>
            </ul>
    
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="./men's.html">MEN'S</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Shoes</a></li>
                  <li><a href="#">Bags</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="">KID'S</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Men's</a></li>
                  <li><a href="#">Women's</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="">CLEARANCE</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Men's</a></li>
                  <li><a href="#">Women's</a></li>
                </ul>
              </div>
            </ul>
    
            <ul class="navbar-item">
              <div class="dropdown">
                <li class="">
                  <a href="">BRANDS</a>
                </li>
                <ul class="dropdown-menu">
                  <li><a href="#">Men's</a></li>
                  <li><a href="#">Women's</a></li>
                </ul>
              </div>
            </ul>
          </div>
        </nav>
      </div>
      <!-- navbar-search -->
      <div class="navbar-container">
          <div class="container-sm navbar-search">
            <div class="row">
              <div class="col-12 col-md-5">
                <form class="form-inline d-flex gap-2">
                  <input class="form-control" type="search" placeholder="Search 6pm.com" aria-label="Search">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
              </div>
              <div class="d-none d-md-block col-md-7"><a href="" class="btn navbar-search-sale px-0"><b>SPRING CLEARANCE</b> <b style="color:#ae4343">UP TO 70% OFF MSRP!</b> <u>Shop Now</u></a></div>
            </div>
          </div>
      </div>

      
    <!-- Main shoes -->
    <main>
        <div class="main-container mt-3">
            <h1 class="main__header">Bags</h1>
            <div class="main-breadcump">
                <div class="main-breadcump-left">
                    <ul class="breadcump-list">
                        <li class="breadcump-item"><a href="../index.html">Home</a></li>
                        <li class="breadcump-item breadcump-active">Bags</li>
                    </ul>
                </div>
                <div class="main-breadcump-right">
                    <ul class="breadcump-components-list">
                        <li class="breadcump-component-item" onclick="showSubList(this)" checked="false">
                            Women's
                            <i class="fas fa-caret-down"></i>
                            <ul class="component-sub-list">
                                <li class="component-sub-item"><a href="#">Handbags</a></li>
                                <li class="component-sub-item"><a href="#">Crossbody</a></li>
                                <li class="component-sub-item"><a href="#">Totes</a></li>
                                <li class="component-sub-item"><a href="#">Backpacks</a></li>
                                <li class="component-sub-item"><a href="#">Wallets</a></li>
                                <li class="component-sub-item"><a href="#">Duffel Bags</a></li>
                                <li class="component-sub-item"><a href="#">Luggage</a></li>
                                <li class="component-sub-item"><a href="#">Designer Bags</a></li>
                                <li class="component-sub-item"><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="breadcump-component-item" onclick="showSubList(this)" checked="false">
                            Men's
                            <i class="fas fa-caret-down"></i>
                            <ul class="component-sub-list">
                                <li class="component-sub-item"><a href="#">Messenger Bags</a></li>
                                <li class="component-sub-item"><a href="#">Backpacks</a></li>
                                <li class="component-sub-item"><a href="#">Wallets</a></li>
                                <li class="component-sub-item"><a href="#">Duffel Bags</a></li>
                                <li class="component-sub-item"><a href="#">Travel & Luggage</a></li>
                                <li class="component-sub-item"><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="breadcump-component-item" onclick="showSubList(this)" checked="false">
                            Kids
                            <i class="fas fa-caret-down"></i>
                            <ul class="component-sub-list">
                                <li class="component-sub-item"><a href="#">Backpacks</a></li>
                                <li class="component-sub-item"><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="breadcump-component-item" onclick="showSubList(this)" checked="false">
                            Juniors
                            <i class="fas fa-caret-down"></i>
                            <ul class="component-sub-list">
                                <li class="component-sub-item"><a href="#">Sneaker & Athletic</a></li>
                                <li class="component-sub-item"><a href="#">Sandals</a></li>
                            </ul>
                        </li>
                        <li class="breadcump-component-item" onclick="showSubList(this)" checked="false">
                            Top Brands
                            <i class="fas fa-caret-down"></i>
                            <ul class="component-sub-list">
                                <li class="component-sub-item"><a href="#">COACH</a></li>
                                <li class="component-sub-item"><a href="#">LAUREN Ralph Lauren</a></li>
                                <li class="component-sub-item"><a href="#">Steve Madden</a></li>
                                <li class="component-sub-item"><a href="#">Tommy Hilfiger</a></li>
                                <li class="component-sub-item"><a href="#">ZAC Zac Posen</a></li>
                                <li class="component-sub-item"><a href="#">GUESS</a></li>
                                <li class="component-sub-item"><a href="#">Tory Burch</a></li>
                                <li class="component-sub-item"><a href="#">Calvin Klein</a></li>
                                <li class="component-sub-item"><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li class="breadcump-component-item" onclick="showSubList(this)" checked="false">
                            Shop By Price
                            <i class="fas fa-caret-down"></i>
                            <ul class="component-sub-list">
                                <li class="component-sub-item"><a href="#">$50 and Under</a></li>
                                <li class="component-sub-item"><a href="#">$75 and Under</a></li>
                                <li class="component-sub-item"><a href="#">$100 and Under</a></li>
                                <li class="component-sub-item"><a href="#">View All</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- top shoes -->
            <div class="top-shoes">
                <h2 class="top-shoes__title">Shop Top Categories</h2>
                <div class="swiper mySwiper">
                    <div class="list-product swiper-wrapper">
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/81slZosgz8L._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Handbags</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/71zIBlaOy7L._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Luggage</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/81HcfgE5PFL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Backpacks</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/81xlOmh8jeL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Wallets</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/81fiAXF4CyL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Duffel & Gym Bags</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/81zdoKKhiHL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Tote Bags</p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="top-shoes">
                <h2 class="top-shoes__title">Shop by Style</h2>
                <div class="swiper mySwiper">
                    <div class="list-product swiper-wrapper">
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/611iV10mkzL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Designer Bags</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/91suovHmpFL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Timeless Bags</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://m.media-amazon.com/images/I/81ZbvUrbtFL._AC_SX255_.jpg" alt="">
                                </div>
                                <p class="title-item">Workweek Bags</p>
                            </a>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <!-- best sellers -->
            <section class="shopping">
                <div class="container-xl">
                    <div class="row g-5">
                        <div class="col-12 col-md-6 shopping-desc px-5">
                            <h1 class="shopping-title fs-1">New Arrivals</h1>
                            <div class="row shopping-thematic-break d-none d-md-block"></div>
                            <button class="shopping-btn">Shop All New Arrivals</button>
                        </div>
                        <div class="col-12 col-md-6 p-0 px-md-4">
                            <div class="products-list row mb-5">
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/51fqv-juxgL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>1</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">Champion</p>
                                            <p class="product-name">Graphic Waist Bag</p>
                                        </div>
                                        <div class="product-price">
                                            $13.31
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/61geRcDl5xL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>9</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">Steve Madden</p>
                                            <p class="product-name">Woven Pu Bucket Hobo</p>
                                        </div>
                                        <div class="product-price">
                                            $47.52
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4 d-none d-xl-block">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/81GSqpb30ML._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>5</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">Anne Klein</p>
                                            <p class="product-name">Cork Tote with Card Case</p>
                                        </div>
                                        <div class="product-price">
                                            $27.65
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="products-list row">
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/81MgM5aHL2L._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>0</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">Anne Klein</p>
                                            <p class="product-name">Cork Tote with Card Case</p>
                                        </div>
                                        <div class="product-price">
                                            $27.65
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/813LYtcvDuL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>100</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">Anne Klein</p>
                                            <p class="product-name">Cork Tote with Card Case</p>
                                        </div>
                                        <div class="product-price">
                                            $27.65
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4 d-none d-xl-block">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/71JAkW4UNCL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>17</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">Anne Klein</p>
                                            <p class="product-name">Floral Top-Handle Satchel</p>
                                        </div>
                                        <div class="product-price">
                                            $46.80
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="shopping">
                <div class="container-xl">
                    <div class="row g-5">
                        <div class="col-12 col-md-6 shopping-desc px-5">
                            <h1 class="shopping-title fs-1">Best Sellers</h1>
                            <div class="row shopping-thematic-break d-none d-md-block"></div>
                            <button class="shopping-btn">Shop All Best Sellers</button>
                        </div>
                        <div class="col-12 col-md-6 p-0 px-md-4">
                            <div class="products-list row mb-5">
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/813j9bHMJbL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>94</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">U.S. POLO ASSN.</p>
                                            <p class="product-name">DHM Crossbody</p>
                                        </div>
                                        <div class="product-price">
                                            $19.80
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/81Aj5a7oq4L._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>92</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">U.S. POLO ASSN.</p>
                                            <p class="product-name">DHM Crossbody</p>
                                        </div>
                                        <div class="product-price">
                                            $19.80
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4 d-none d-xl-block">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/71KK5NDEN9L._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>45 </span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">GUESS</p>
                                            <p class="product-name">Helaina Crossbody Camera</p>
                                        </div>
                                        <div class="product-price">
                                            $78.00
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="products-list row">
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/71-s4nJCFhL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>46</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">GUESS</p>
                                            <p class="product-name">Helaina Crossbody Camera</p>
                                        </div>
                                        <div class="product-price">
                                            $51.48
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/91JChmRl6uL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>23</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">GUESS</p>
                                            <p class="product-name">Gillian Backpack</p>
                                        </div>
                                        <div class="product-price">
                                            $58.08
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="product-item col-6 col-xl-4 d-none d-xl-block">
                                    <div class="product-image">
                                        <img src="https://m.media-amazon.com/images/I/71FIMumYbQL._AC_SX255_.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa-regular fa-heart"></i>
                                            <span>30</span>
                                        </div>
                                        <div class="product-desc">
                                            <p class="product-brand">GUESS</p>
                                            <p class="product-name">GUESS Katey Mini Satchel</p>
                                        </div>
                                        <div class="product-price">
                                            $51.48
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="top-shoes">
                <h2 class="top-shoes__title">Brands For You</h2>
                <div class="swiper mySwiper">
                    <div class="list-product swiper-wrapper">
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://www.6pm.com/boutiques/3338/Levis-Womens_header060612.jpg" alt="">
                                </div>
                                <p class="title-item">Levi's® Womens</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://www.6pm.com/boutiques/129/lugz_header072810.jpg" alt="">
                                </div>
                                <p class="title-item">Lugz</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://www.6pm.com/boutiques/4243/old-soles_head_09252014.jpg" alt="">
                                </div>
                                <p class="title-item">Old Soles</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://www.6pm.com/boutiques/21/bc_head_032415.jpg" alt="">
                                </div>
                                <p class="title-item">BC Footwear</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://www.6pm.com/boutiques/775/crocs_head_042617.jpg" alt="">
                                </div>
                                <p class="title-item">Crocs</p>
                            </a>
                        </div>
                        <div class="list-product__item swiper-slide">
                            <a href="#">
                                <div>
                                    <img class="list-item-img"
                                        src="https://www.6pm.com/boutiques/657/Reebok_header031813.jpg" alt="">
                                </div>
                                <p class="title-item">Reebok Lifestyle</p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>



    <script src="../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var slidePerView = 6;
        if (window.innerWidth < 1140) {
            slidePerView = 3;
        }
        window.addEventListener("resize", (e) => {
            if (window.innerWidth < 1140) {
                slidePerView = 3;
            } else {
                slidePerView = 6;
            }
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: slidePerView,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        })
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: slidePerView,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
</body>

</html>